*.name
.idea/*.xml
.idea/*.iml
CIFAR_CNN/data/data_batch_1

CIFAR_CNN/data/batches.meta

CIFAR_CNN/data/data_batch_2

CIFAR_CNN/data/data_batch_3

CIFAR_CNN/data/data_batch_4

CIFAR_CNN/data/data_batch_4

CIFAR_CNN/data/data_batch_5

CIFAR_CNN/data/readme.html

CIFAR_CNN/data/reorganized_batch1

CIFAR_CNN/data/reorganized_batch2

CIFAR_CNN/data/reorganized_batch3

CIFAR_CNN/data/reorganized_batch4

CIFAR_CNN/data/reorganized_batch5

CIFAR_CNN/data/reorganized_test_batch

CIFAR_CNN/data/test_batch
*.ZZK-PC-TABLE
CIFAR_CNN/bin_data/batches.meta.txt
*.bin
CIFAR_CNN/bin_data/readme.html
